* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: #FFFFFF;
}
body {
  font: 300 13px/1.6 'source_sans_proextralight' ,sans-serif;
  color: #4C4141;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
    overflow: hidden;
}
