$fontFamily: 'Lato', sans-serif;
$latoBlack: 'LatoBlack', sans-serif;
$latoBold: 'LatoBold', sans-serif;
$base : #000000;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$colorBg: #D94728;
$cWhite: #FFFFFF;

$transition: .3s;
